pipeline/Azure Activity Directory.json
{
	"name": "Azure Activity Directory",
	"properties": {
		"activities": [
			{
				"name": "Get token",
				"type": "WebActivity",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=<YOUR_CLIENT_ID>&client_secret=<YOUR_CLIENT_KEY>&resource=https://management.azure.com/"
				}
			},
			{
				"name": "Call App with token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/1b0b7118-35be-4410-8d9b-101e65f48a4c/resourceGroups/rggrwe/providers/Microsoft.DataFactory/factories/adfgrv2704/linkedservices/AzureBlobtrg?api-version=2018-06-01",
					"method": "PUT",
					"headers": {
						"Authorization": {
							"value": "Bearer @{activity('Get token').output.access_token}",
							"type": "Expression"
						}
					},
					"body": {
						"properties": {
							"description": "LS_changed",
							"type": "AzureStorage",
							"typeProperties": {
								"connectionString": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					}
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
