adfv2log/PartialArmTemplates/ArmTemplate_10_19_2018_12_57_41.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfv2log"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Azure Activity Directory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get token",
						"type": "WebActivity",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://login.microsoftonline.com/<YOUR_TENANT>/oauth2/token",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=<YOUR_CLIENT_ID>&client_secret=<YOUR_CLIENT_KEY>&resource=https://management.azure.com/"
						}
					},
					{
						"name": "Call App with token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/<YOUR_SUBSCRIPTION>/resourceGroups/<YOUR_RESOURCE_GROUP>/providers/Microsoft.DataFactory/factories/<YOUR_DATA_FACTORY>/linkedservices/<YOUR_LINKED_SERVICE>?api-version=2018-06-01",
							"method": "PUT",
							"headers": {
								"Authorization": {
									"value": "Bearer @{activity('Get token').output.access_token}",
									"type": "Expression"
								}
							},
							"body": {
								"properties": {
									"description": "LS_changed",
									"type": "AzureStorage",
									"typeProperties": {
										"connectionString": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					}
				]
			}
		}
	]
}