adfv2aad/PartialArmTemplates/ArmTemplate_10_19_2018_9_17_30.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfv2aad"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Azure Activity Directory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get token",
						"type": "WebActivity",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/token",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=e39714d8-5bcd-48ce-aab8-88f3a6f43d0a&client_secret=wJWacO9WbZRPgs1GGpqnobeB3YV98kKskMgxkCZMXds=&resource=https://management.azure.com/"
						}
					},
					{
						"name": "Call App with token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/1b0b7118-35be-4410-8d9b-101e65f48a4c/resourceGroups/rggrwe/providers/Microsoft.DataFactory/factories/adfgrv2704/linkedservices/AzureBlobtrg?api-version=2018-06-01",
							"method": "PUT",
							"headers": {
								"Authorization": {
									"value": "Bearer @{activity('Get token').output.access_token}",
									"type": "Expression"
								}
							},
							"body": {
								"properties": {
									"description": "LS_changed",
									"type": "AzureStorage",
									"typeProperties": {
										"connectionString": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					}
				]
			}
		}
	]
}